body
{
	margin: 0 auto;
	text-align: left;
	padding: 0px 10px 10px 10px;
	font-family:  Times New Roman, Arial, sans-serif;
	font-size: 100%;
	background-color: lightblue;
}


#wrapper
{
	width: 90%;
	margin: 0 auto;
	background-color: white;
}

header
{
	text-align: center;
}

header h1
{
  background-color: #000040;
  background-repeat:no-repeat;
  color: white;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  font-size: 1.8em;
  margin-bottom: 2px;
}

h1, h2, h3, h4
{
    font-family: Times New Roman, Arial, sans-serif;
    color: Navy;

}

h1
{
    font-size: 1.8em !important;

}


#imgTeacher
{


    margin-top: 15%;
    margin-left: 20%;
    border-radius: 15%;
}


p
{
    padding-right: 20px;
    text-align: justify;
    padding-left: 10px;
}

aside
{
	width: 30%;
	margin-right: 2%;
	clear: left;
	float: left;
	background-color: Silver;
	height: 750px;
}

article
{
	width: 68%;
	float: right;
	font-size: 110%;
}


section ul li
{
    padding-top: 5px;
}

hr
{
	display: block;
	margin: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    vertical-align: top;

}

footer
{
	clear: both;
}

footer p
{

	padding-top: 10px;
	margin: 5px auto;
	text-align: center;
	background-color: #000040;
	color: White;
	height: 70px;
}



#teacherNm
{
    color: maroon;
    padding-left: 8px;
}
